:root {
    --pink: #eb008b;
    --black: #0f0f0f;
    --green: #00FF01;
    --blue: #02bff3;
}

body {
    font-size: 15px;
}

button {
    background-color: var(--pink);
    border: none;
    padding: 10px 20px;
}

img {
    max-width: 100%;
}