:root {
    --pink: #f93d66;
    --black: #0f0f0f;
    --purple: #6d47d9;
    --yellow: #ffc600;
}

body {
    margin: 50px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    color: var(--black);
    background: linear-gradient(110deg, var(--pink), var(--purple));
    letter-spacing: -1px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

button {
    background-color: var(--yellow);
    border: 0;
    padding: 10px 20px;
}

img {
    max-width: 100%;
}

/*General grid-gaps*/


.wrapper {
    display: grid;
    grid-template-columns: 1fr;    
    grid-gap: 20px;

}

.wrapper > * {
    grid-gap: 20px;
}


/*Top*/

.top {
    display: grid;
    grid-template-areas: 
    "hero hero cta1"
    "hero hero cta2"
}

.hero {
    grid-area: hero;
    min-height: 400px;
    background: white url(images/taco.jpg);
    background-size: cover;
    background-position: bottom right;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero > * {
    background-color: var(--yellow);
    padding: 5px;
}

.cta1 {
    grid-area: cta1;
}

.ct2 {
    grid-area: cta2;
}

.cta {
    display: grid;
    justify-items: center;
    align-content: center;
    background: var(--yellow);
}
.cta > .price {
    font-size: 60px;
    font-weight: 300;
}

.cta > * {
    margin: 0;
}


/*Menu*/

[aria-controls="menu"] {
    display: none;
}

.menu ul {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    list-style: none;
    grid-gap: 10px;
}

.menu a {
    text-transform: uppercase;
    display: block;
    background: var(--yellow);
    padding: 10px;
    text-decoration: none;
    color: var(--black);
    text-align: center;
    font-size: 18px;
}

.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0;
}

.feature {
    background: white;
    padding: 10px;
    text-align: center;
    border: 1px solid white;
}

.feature .icon {
    font-size: 30px;
}

.feature h3 {
    font-size: 18px;
    font-weight: 850;
    letter-spacing: 0;
}

.feature p {
    color: grey;
    letter-spacing: 0;

}

.about {
    display: grid;
    grid-template-columns: 400px 1fr;
    padding: 50px;
    align-items: center;
    background: white;
    display: 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery h2 {
    grid-column:  1 / -1;
}